/* variables */

/* base styles */
.App {
    min-height: 100vh;
    overflow: hidden;
}

/* fonts */

/* mobile-styles */
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

/* small-tablet-styles */
@media screen and (min-width: 620px) {}

/* large-tablets-and-laptops */
@media screen and (min-width: 960px) {}

/* desktop screens */
@media screen and (min-width: 1200px) {}