@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@100;200;300;400;600;700&display=swap');

:root {
  --primary-black: #272932;
  --primary-red: #F05D5E;
  --primary-green: #0F7173;
  --primary-grey: #E7ECEF;
  --primary-brown: #D8A47F;
}

body,html {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
